@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.mainswiper{
    width: 100%;
    height: 520PX;
}
.slide {
    position: relative;
}
.wrapper ,.slide{
    width: 100%;
    height: 100%;
}
.slide .image {
    height: 100%;
    width: 100%;
}
.slide .image-infoswipe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 30;
}
.image-infoswipe h1.titreswipe{
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 5vh;
}
.image-infoswipe h3.titreh3swipe{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.slide::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    z-index: 20;
}
a.btnswiper {
    display: inline-block;
    padding: 1.4rem 4.3rem;
    background-color: white; /* Fond blanc pour le padding */
    font-size: 15px;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 550;
    text-decoration: none;
    color: black; /* Texte transparent */
    margin-top: 5vh;
}
a.btnswiper:hover {
color: white;
background-color: black;
transition: all 0.7s ease;
}
.divacentre{
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .image-infoswipe {
        width: 90%; /* Ajustez la largeur selon vos besoins */
    }
}
@media screen and (max-width: 1118px) {
    .element {
        margin-top: 3.5rem;
    }
}
/* Container for the cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between cards */
    padding: 90px 80Px 75px; /* Space around the container */
    max-width: 1400PX;
    margin: auto;

  }
.card:hover .card-title {
    color: white; /* Change la couleur du texte en blanc lors du survol */
}.card:hover {
    background: linear-gradient(to right, #9105e9, #F63B95); /* Dégradé lors du survol */cursor: pointer;
}
  /* Individual card */
  .card {
    overflow: hidden;
    text-align: center;
    background-color: #fff; /* Couleur de fond par défaut */
    transition: background 0.5s ease; /* Ajoutez cette ligne pour la transition du fond */
}
  /* Card image */
  .card-image {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
  }
  
  /* Card title */
  .card-title {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 20px 0;
    color: #0d4a83; /* Couleur de texte par défaut */
    transition: color 1s ease;
  }

  
  /* Default: Show only 4 cards */
  .card:nth-child(n+5) {
    display: none;
  }
  
  /* Screen size <= 1024px: Show 3 cards */
  @media (max-width: 1400px) {
    .card:nth-child(4) {
      display: none;
    }
  }
  
  /* Screen size <= 768px: Show 2 cards */
  @media (max-width: 990px) {
    .card:nth-child(3) {
      display: none;
    }
    .card:nth-child(4) {
      display: none;
    }
    .card-container{
        padding: 90px 22Px 75px; /* Space around the container */
    }
  }
  
  /* Screen size <= 480px: Show only 1 card */
  @media (max-width: 640px) {
    .card:nth-child(2) {
      display: none;
    }
    .card:nth-child(3) {
      display: none;
    }
    .card:nth-child(4) {
      display: none;
    }
    .card-container{
        padding: 90px 22Px 75px; /* Space around the container */
    }
  }
  /* Section contenant le texte */
.section-contenu {
  text-align: center; /* Centre le texte */
  padding: 20px;
  margin: 0 auto;
  max-width: 800px; /* Limite la largeur pour un affichage optimal */
}

/* Titre principal */
.titre-principal {
  font-size: 2.5rem; /* Taille par défaut */
  font-weight: 600;
  padding-top: 40px;
  color: #333;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif; /* Ajout d'une belle police */
  line-height: 1.4;
}

@media (max-width: 768px) {
  .titre-principal,.titre-principal2 {
    font-size: 2rem; /* Réduction pour tablette */
  }
  .image-infoswipe h1.titreswipe{
    font-size: 2.5rem;
  }
  .image-infoswipe h3.titreh3swipe{
    font-size: 14px;
  }
  .texte-description {
    font-size: 0.9rem; /* Réduction pour tablette */
  
}
}

@media (max-width: 480px) {
  .titre-principal.titre-principal2  {
    font-size: 1.5rem; /* Plus petit pour mobile */
  }
  .texte-description {
    font-size: 0.8rem; /* Plus petit pour mobile */
  }
}

/* Texte de description */
.texte-description {
  font-size: 1rem; /* Taille par défaut */
  color: #555; /* Texte légèrement adouci */
  line-height: 1.6; /* Meilleure lisibilité */
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}
/* Conteneur pour les cartes */
.zone-cartes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Grille responsive */
  gap: 20px; /* Espacement entre les cartes */
  padding: 20px; /* Espacement autour du conteneur */
  max-width: 1400PX;
  margin: auto;
}

/* Carte individuelle */
.carte-produit {
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  padding: 15px;
}

/* Image de la carte */
.image-produit {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.ombre-image {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre */
}

/* Lien sous l'image */
.lien-produit {
  display: inline-block;
  margin-top: 10px;
  font-size: 1rem;
  color: #ee00ff;
  text-decoration: none;
  font-weight: 600;
}

.lien-produit:hover {
  text-decoration: underline; /* Souligné au survol */
}

/* Texte explicatif sous le lien */
.description-produit {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}

/* Design responsive */
@media (max-width: 768px) {
  .zone-cartes {
    gap: 15px;
  }
  .description-produit {
    font-size: 0.8rem;
  }
} 
/*      card service                  */
/* Texte de description */
.texte-description,
.description-produit {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.description-produit {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* Conteneur des cartes */
.zone-cartes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Carte individuelle */
.carte-produit {
  text-align: center;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Image de la carte */
.image-produit {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.image-produit:hover{
    transform: scale(1.02);
    transition: all 0.5s ease;
}

/* Lien sous l'image */
.lien-produit {
  margin-top: 25px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #bb00ff;
  text-decoration: none;
}

.lien-produit:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .zone-cartes {
    gap: 15px;
  }

}
.zone-principale {
  width: 94%;
  border-radius: 6px;
  margin: 100px auto;
  text-align: center;
  background-color: #efefefe1;
  max-width: 1400px;
  height: fit-content;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5); /* Ombre */
}

.titre-principal2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 2.5rem; /* Taille par défaut */
  font-weight: 600;
}

.zone-flexible {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Ajouté pour un meilleur espacement */
  gap: 20px; /* Espacement entre les colonnes */
  box-sizing: border-box; /* Inclure les paddings dans la largeur */
  padding-bottom: 40px;
}

.bloc-flexible {
  width: 48%; /* Réduit un peu pour tenir compte de l'espacement */
  box-sizing: border-box;
  text-align: left; /* Alignement du contenu */
  border-radius: 8px; /* Ajout d’arrondis pour un design plus doux */
}

.image-contenu {
  width: 100%; /* Prend toute la largeur de son parent */
  height: 100%; /* Ajuste la hauteur proportionnellement */
  border-radius: 6px; /* Ajout d'arrondis à l'image */
  object-fit: cover; /* S'assure que l'image est bien cadrée */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Légère ombre pour l'image */
}

@media (max-width: 768px) {
  .zone-flexible {
      flex-direction: column; /* Passe les colonnes en ligne */
      align-items: stretch; /* Les colonnes prennent toute la largeur */
      gap: 10px; /* Réduit l’espacement entre les blocs */
  }

  .bloc-flexible {
      width: 100%; /* Prend toute la largeur en mode mobile */
  }

  #contenu2 {
      order: 1;
  }

  #contenu1 {
      order: 2;
  }
}
.bloc-flexible h2 {
  text-align: center;
  color: #bb00ff;
  padding-top: 15PX;
}
.divmerebox {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 3 parts pour .grid-container, 1 part pour .divoneimage */
  gap: 10px; /* Espace entre les colonnes */
  width: 100%;
  margin:  40px auto;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0 5%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 10px; /* Espacement entre les boîtes */
  height: 100%;
  width: 100%;
}

.box {
  position: relative; /* Nécessaire pour positionner le titre */
  overflow: hidden; /* Empêche les débordements */
  height: 100%;
  width: 100%;
  
}

.box img {
  width: 100%; /* Les images remplissent la largeur de leur conteneur */
  height: 100%; /* Les images remplissent la hauteur de leur conteneur */
  object-fit: cover; /* Assure que l'image remplit la box sans déformer */
  display: block; /* Évite les espaces sous l'image */
  transition:transform 0.5s, filter 0.9s;
  
}
.box:hover img {
  filter: brightness(0.5); /* Filtre sombre */
  transform: scale(1.05);
  transition: all 1s ease;
}
.image1,
.image3,
.image4,
.image5 {
  grid-column: span 1; /* Largeur d'une colonne */
  aspect-ratio: 1 / 1; /* Carré parfait */
}

.image2 {
  grid-column: span 2; /* Largeur de deux colonnes */
  aspect-ratio: 2 / 1; /* Deux fois plus large que haut */
}

.box h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: linear-gradient(to right, #9105e9, #F63B95); /* Dégradé lors du survol */
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0; /* Caché par défaut */
  transition: opacity 0.3s ease; /* Transition douce */
}
.divoneimage h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: linear-gradient(to right, #9105e9, #F63B95); /* Dégradé pour le titre */
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0; /* Caché par défaut */
  transition: opacity 0.3s ease; /* Transition douce */
}
.divoneimage:hover h3 {
  opacity: 1; /* Montre le titre au survol */
  transition: opacity 0.3s ease; /* Transition douce */
}

.box:hover h3 {
  opacity: 1; /* Montre le titre au survol */

}
.divoneimage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  position: relative;
  width: 100%;
}
.divoneimage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* L'image couvre toute la div */
  transition: transform 0.5s, filter 0.9s;
}
.divoneimage:hover img {
  filter: brightness(0.5); /* Filtre sombre */
  transition: all 1s ease;
}
@media (max-width: 1300px) {
  .divmerebox {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2 colonnes : grid-container (2/3) et divoneimage (1/3) */
    grid-template-rows: 1fr; /* Ajuste automatiquement les lignes */
    gap: 8px; /* Réduction de l'espacement entre les colonnes */
    width: 96%; /* Réduire la largeur globale */
    margin: 20px auto; /* Ajuster les marges */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour les images */
    grid-template-rows: 1fr 1fr 1fr; /* 3 lignes égales */
    gap: 8px; /* Réduire l'espacement entre les éléments */
    height: auto; /* Ajuster la hauteur automatiquement */
  }

  /* Organisation des images */
  .image2 {
    grid-column: span 2; /* Occupe toujours 2 colonnes, mais on réduit l'espacement */
    grid-row: 1; /* Première ligne */
  }

  .image1 {
    grid-column: 1; /* Colonne 1 */
    grid-row: 2; /* Deuxième ligne */
  }

  .image3 {
    grid-column: 2; /* Colonne 2 */
    grid-row: 2; /* Deuxième ligne */
  }

  .image4 {
    grid-column: 1; /* Colonne 1 */
    grid-row: 3; /* Troisième ligne */
  }

  .image5 {
    grid-column: 2; /* Colonne 2 */
    grid-row: 3; /* Troisième ligne */
  }

  .divoneimage {
    grid-column: span 1; /* Réduire la largeur de la divoneimage pour réduire la taille */
    height: auto; /* Ajuster la hauteur en fonction de l'image */
  }

  .divoneimage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assurer que l'image couvre bien */
  }
}


@media (max-width: 1200px) {
  .divmerebox {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 10px;
  }

  .divoneimage {
    grid-column: span 2; /* Prend les 2 colonnes */
    grid-row: span 4; /* S'étend sur 4 lignes */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%; /* Ajouté pour égaler la hauteur de grid-container */
  }

  .grid-container {
    grid-column: span 2; /* Prend les 2 colonnes */
    grid-row: 5; /* Positionne le grid-container après divoneimage */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour les images */
    gap: 10px;
    height: 100%; /* Assurez-vous que grid-container occupe toute la hauteur disponible */
  }

  .image2 {
    grid-column: span 2; /* Prend les 2 colonnes */
    grid-row: 1; /* Première ligne dans grid-container */
  }

  .image1 {
    grid-column: 1; /* Colonne 1 */
    grid-row: 2; /* Deuxième ligne */
  }

  .image3 {
    grid-column: 2; /* Colonne 2 */
    grid-row: 2; /* Deuxième ligne */
  }

  .image4 {
    grid-column: 1; /* Colonne 1 */
    grid-row: 3; /* Troisième ligne */
  }

  .image5 {
    grid-column: 2; /* Colonne 2 */
    grid-row: 3; /* Troisième ligne */
  }

  .image6 {
    grid-column: span 2; /* Prend les 2 colonnes */
    grid-row: 4; /* Placez l'image 6 dans la 4ème ligne */
  }
}

@media (max-width: 600px) {
  /* Reset la disposition pour l'affichage mobile */
  .divmerebox {
      display: block; /* Passe la disposition en bloc pour empiler les éléments */
      width: 100%;
      margin: auto;
      padding: 5%;
      box-sizing: border-box;
  }

  /* Grille de contenu qui s'affiche en bloc */
  .grid-container {
      display: block; /* Empile les éléments */
      width: 100%;
      gap: 0;
      height: 100%;
  }

  .box {
      width: 100%; /* Chaque boîte occupe toute la largeur de son conteneur */
      margin-bottom: 15px; /* Espacement entre les images */
      position: relative;
      height: 350px;
  }

  .box img {
      width: 100%; /* Les images remplissent toute la largeur de la boîte */
      height: 100%;
      height: auto; /* La hauteur de l'image s'ajuste automatiquement */
      object-fit: fill; /* Ajuste l'image pour qu'elle remplisse sans déformer */
      display: block; /* Évite les espaces blancs sous les images */
  }

  /* .divoneimage prendra aussi toute la largeur */
  .divoneimage {
      width: 100%;
      margin-top: 20px; /* Espacement entre la grille et l'image solo */
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f4f4f4;
      position: relative;
  }

  .divoneimage img {
      width: 100%; /* L'image prend toute la largeur */
      height: 100%;
      height: auto; /* La hauteur est ajustée en fonction de la largeur */
      object-fit: cover; /* Assure que l'image couvre toute la div */
      transition: filter 0.5s ease; /* Effet de filtre au survol */
  }

  .divoneimage h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      background: linear-gradient(to right, #9105e9, #F63B95); /* Dégradé pour le titre */
      padding: 10px 20px;
      border-radius: 5px;
      opacity: 0; /* Le titre est masqué par défaut */
      transition: opacity 0.3s ease; /* Transition pour l'apparition du titre */
  }

  .divoneimage:hover h3 {
      opacity: 1; /* Affiche le titre au survol */
  }

  /* Titres pour les images dans les .box */
  .box h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      background: linear-gradient(to right, #9105e9, #F63B95);
      padding: 10px 20px;
      border-radius: 5px;
      opacity: 0; /* Masqué par défaut */
      transition: opacity 0.3s ease; /* Transition douce */
  }

  .box:hover h3 {
      opacity: 1; /* Affiche le titre au survol */
  }
}


footer {
  background-color: #222;
  color: #fff;
  padding: 20px 50px;
  background: linear-gradient(to right, #9105e9,#9105e9, #F63B95);
  animation: gradientAnimation 3s infinite alternate; /* Animation fluide */
  background-size: 200% 200%; /* Étire le gradient */
}
.footer-logo {
  text-align: center;
  margin-bottom: 15px;
}

.footer-logo img {
  max-width: 150px; /* Ajustez la taille du logo si nécessaire */
  height: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1400px;
  margin: auto;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.footer-section {
  flex: 1 1 calc(33.333% - 20px); /* Ajuste la largeur pour 3 colonnes */
  min-width: 250px;
  
}

.footer-section h3 {
  margin-bottom: 10px;
  color: #ffcc00;
  font-size: 1.3rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
  color: #ffcc00;
}
.footer-bottom {
display: flex;
justify-content:space-between;
align-items: center;
}
.footer-section p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}
.footer-separator {
  width: 100%;
  height: 3px;
  background: #ffcc00; /* Couleur de la barre */
  margin: 20px 0; /* Espacement autour de la barre */
}
.footer-bottom .social-icons {
  margin-top: 10px;
}

.footer-bottom .social-icons a {
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
}

.footer-bottom .social-icons img {
  width: 24px;
  height: 24px;
  filter: invert(1); /* Rendre les icônes blanches */
}
.social-icons a {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffcc00; /* Couleur au survol */
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex: 1 1 100%;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .footer-bottom {
   flex-direction: column;
  }
}
.containerbtn{
  width: 80%; /* Largeur du conteneur */
  max-width: 600px; /* Largeur maximale */
  margin-top: 30px;
}
.link-button {
  display: inline-block; /* Permet d'appliquer du padding */
  width: 65%; /* Prend toute la largeur du conteneur */
  padding: 15px; /* Padding pour le lien */
  font-size: 20px; /* Taille de la police */
  font-family:"Montserrat", sans-serif;
  color: #000000; /* Couleur du texte */
  background-color: #ffcc00;
  font-weight: 600;
  text-align: center; /* Centrer le texte */
  text-decoration: none; /* Pas de soulignement */
  border: 2px solid transparent; /* Bordure invisible par défaut */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s, color 0.3s; /* Transition pour l'effet de survol */
}

.link-button:hover {
  background-color: #ffae00; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
}
.banner {
  width: 100%; /* Largeur 100% */
  background-color: #007BFF; /* Couleur de fond */
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  padding: 20px 0; /* Padding vertical */
}

.content {
  width: 70%; /* Largeur de la div interne */
  text-align: center; /* Centre le texte */
  color: white; /* Couleur du texte */
  
}
#btnbanner{
  width: 45%;
}
@media (max-width: 768px) {
  .content {
      width: 90%; /* Largeur de la div interne sur les petits écrans */
  }
  #btnbanner{ width: 60%;}
  h1 {
      font-size: 20px; /* Taille de la police réduite sur les petits écrans */
  }

  .link-button {
      font-size: 14px; /* Taille de la police réduite pour le bouton sur les petits écrans */
  }
}

#h1banner{
  margin-bottom: 20px;
}